<!-- headers.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Super Awesome</title>

<!-- CSS STACK -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">

<!-- Optional theme -->

<!--
<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap-theme.min.css">
-->

<link rel="stylesheet" href="/css/main.css">

<!-- JS stack -->
<script src="/socket.io/socket.io.js"></script>

<!-- angularjs -->
<script src="/js/lib/angularjs/angular.min.js"></script>
<script src="/js/lib/angularjs/angular-route.min.js"></script>
<script src="/js/lib/angularjs/angular-animate.min.js"></script>

<!-- 3rd party js lib -->
<script src="/js/lib/jquery-2.1.1.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/lib/underscore.js"></script>


<!-- my app js lib -->
<script type="text/javascript" src="/js/myapp/constants.js"></script>
<script type="text/javascript" src="/js/myapp/utils.js"></script>
<script type="text/javascript" src="/js/myapp/services/service.js"></script>
<script type="text/javascript" src="/js/myapp/controllers/controller.js"></script>
<script type="text/javascript" src="/js/myapp/directives/directive.js"></script>
<script type="text/javascript" src="/js/myapp/app.js"></script>
