<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/headers %>
</head>
<body>
  <% include ../partials/header %>
  <!-- -->
  
  <div ng-app="myApp">
    <div ng-view></div> 
  </div>
  
  
  <% include ../partials/footer %>
</body>
</html>