<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
  <% include ../partials/headers %>
</head>
<body>
  <% include ../partials/top_banner %>
  
  <!-- angularjs template view port -->  
  <div ng-view></div> 
  
  <% include ../partials/footer %>
</body>
</html>