<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4 col-lg-offset-4" style="height: 28em; padding-top: 11em; text-align: center;">
      <form class="form-inline" novalidate >
        <div class="form-group">
          <select class="form-control" name="username" id="username" ng-model="username">
            <option value="">我是:</option>
            <option ng-repeat="user in users" value="{{user.username}}">{{user.username}}</option>
          </select>
        </div>
        <button type="submit" class="btn btn-default" ng-click="submit()" ng-disabled="isInvalid()">登陆 {{username}}</button>
      </form>
    </div>
  </div>
</div>
